    <nav>
        <a href="#" data-target="sidenav-slide" class="sidenav-trigger"><i class="material-icons">menu</i></a>

        <ul class="left hide-on-med-and-down" id="listaAcessibilidade">
            <li><a href="#content" accesskey="1">Ir para o Conteúdo Principal [Alt + 1]</a></li>
            <li><a href="#sidenav-slide" accesskey="2">Início do Menu [Alt + 2]</a></li>
        <!--    <li><a href="#footer-copyright" accesskey="3">Ir para o rodapé [Alt + 3]</a></li> -->

            <li><a data-acessibilidade=false href="" id="altocontraste">ALTO CONTRASTE DESATIVADO</a></li>
        <!--
            <li><a href="#">ACESSIBILIDADE</a></li>
            <li><a href="#">MAPA DO SITE</a></li>
        -->
        </ul>

    </nav>