<ul id="slide-out" class="sidenav sidenav-fixed" style="transform: translateX(0px);">

    <li class="logo">
        <a id="logo-container" class="brand-logo">
            <img id="front-page-logo" src="images/logo.png" />
        </a>
    </li>

    <li>
        <div class="divider"></div>
    </li>

    <li class="bold"><a href="#" class="waves-effect waves-teal"><i class="fas fa-bullhorn fa-lg"></i>Novo aviso</a></li>
    <li class="bold"><a href="#" class="waves-effect waves-teal"><i class="fas fa-desktop fa-lg"></i>Acesso aos laboratórios</a></li>
    <li class="bold"><a href="#" class="waves-effect waves-teal"><i class="fas fa-user-graduate fa-lg"></i>Requisições dos alunos</a></li>
</ul>