<ul id="slide-out" class="sidenav sidenav-fixed" style="transform: translateX(0px);">

    <li class="logo">
        <a id="logo-container" class="brand-logo">
            <img id="front-page-logo" src="images/logo.png" />
        </a>
    </li>

    <li>
        <div class="divider"></div>
    </li>

    <li class="bold" id="novaNoticia"><a href="/" class="waves-effect waves-teal"><i class="fas fa-bullhorn fa-lg"></i>Nova notícia</a></li>
    <li class="bold" id="acessoLaboratorios"><a href="/laboratorios" class="waves-effect waves-teal"><i class="fas fa-desktop fa-lg"></i>Acesso aos laboratórios</a></li>
    <li class="bold" id="requisicoesAlunos"><a href="/requisicoes" class="waves-effect waves-teal"><i class="fas fa-user-graduate fa-lg"></i>Requisições dos alunos</a></li>
    <li class="bold" id="cadastroTopicos"><a href="/novotopico" class="waves-effect waves-teal"><i class="fas fa-tags fa-lg"></i>Cadastro de tópicos</a></li>
    <li class="bold" id="cadastroRequisicoes"><a href="/novarequisicao" class="waves-effect waves-teal"><i class="fas fa-plus-square fa-lg"></i>Cadastro de requisições</a></li>
</ul>