<ul id="sidenav-slide" class="sidenav sidenav-fixed">

    <li class="logo">
        <a id="logo-container" class="brand-logo" href="/">
            <img id="front-page-logo" src="../images/logo.jpg" alt="Logo do Spread" />
        </a>
    </li>

    <li>
        <div class="divider"></div>
    </li>

    <li class="bold" id="home"><a href="/" class="waves-effect"><i class="fas fa-home fa-lg"></i>Página inicial</a></li>

    <li class="bold" id="cadastroNoticias"><a href="/noticias/envio" class="waves-effect"><i class="fas fa-bullhorn fa-lg"></i>Nova notícia</a></li>
    <li class="bold" id="listarNoticias"><a href="/noticias/listar" class="waves-effect"><i class="fas fa-list-ul fa-lg"></i>Listar notícias</a></li>

<!--
    <li class="bold" id="acessoLaboratorios"><a href="/laboratorios/listar" class="waves-effect"><i class="fas fa-desktop fa-lg"></i>Acesso aos laboratórios</a></li>

    <li class="bold" id="cadastroRequisicoes"><a href="/requisicoes/cadastro" class="waves-effect"><i class="fas fa-plus-square fa-lg"></i>Cadastro de requisições</a></li>
    <li class="bold" id="listarRequisicoes"><a href="/requisicoes/listar" class="waves-effect"><i class="fas fa-user-graduate fa-lg"></i>Listar requisições</a></li>
-->
    <li class="bold" id="cadastroTopicos"><a href="/topicos/cadastro" class="waves-effect"><i class="fas fa-tags fa-lg"></i>Cadastro de tópicos</a></li>
    <li class="bold" id="listarTopicos"><a href="/topicos/listar" class="waves-effect"><i class="fas fa-th-list  fa-lg"></i>Listar tópicos</a></li>
                                                                                           
    <li class="bold" id="listarProfessores"><a href="/professores/listar" class="waves-effect"><i class="fas fa-chalkboard-teacher fa-lg"></i>Listar professores</a></li>
    <li class="bold" id="listarAlunos"><a href="/alunos/listar" class="waves-effect"><i class="fas fa-graduation-cap fa-lg"></i>Listar alunos</a></li>

    <li class="bold" id="cadastroSecretarios"><a href="/secretarios/cadastro" class="waves-effect"><i class="fas fa-user-plus fa-lg"></i>Cadastro secretários</a></li>
    <li class="bold" id="listarSecretarios"><a href="/secretarios/listar" class="waves-effect"><i class="fas fa-user-cog fa-lg"></i>Listar secretários</a></li>

    <li class="bold"><a href="/api/secretario/logout" class="waves-effect"><i class="fas fa-sign-out-alt fa-lg"></i>Sair</a></li>


<!--
    <li class="divider hide-on-large-only"></li>
    <li class="hide-on-large-only"><a href="" id="altocontraste" >ALTO CONTRASTE DESATIVADO</a></li>
    <li class="hide-on-large-only"><a href="#">ACESSIBILIDADE</a></li>
    <li class="hide-on-large-only"><a href="#">MAPA DO SITE</a></li>
-->

</ul>