<ul id="sidenav-slide" class="sidenav sidenav-fixed">

    <li class="logo">
        <a id="logo-container" class="brand-logo" href="/">
            <img id="front-page-logo" src="../images/logo.png" />
        </a>
    </li>

    <li>
        <div class="divider"></div>
    </li>

    <li class="bold" id="home"><a href="/" class="waves-effect"><i class="fas fa-home fa-lg"></i>Página inicial</a></li>

    <li class="bold" id="cadastroNoticias"><a href="/noticias/envio" class="waves-effect"><i class="fas fa-bullhorn fa-lg"></i>Nova notícia</a></li>
    <li class="bold" id="listarNoticias"><a href="/noticias/listar" class="waves-effect"><i class="fas fa-list-ul fa-lg"></i>Listar notícias</a></li>

    <li class="bold" id="listarLaboratorios"><a href="/laboratorios/listar" class="waves-effect"><i class="fas fa-desktop fa-lg"></i>Acesso aos laboratórios</a></li>


    <li class="bold" id="cadastroRequisicoes"><a href="/requisicoes/cadastro" class="waves-effect"><i class="fas fa-plus-square fa-lg"></i>Cadastro de requisições</a></li>
    <li class="bold" id="listarRequisicoes"><a href="/requisicoes/listar" class="waves-effect"><i class="fas fa-user-graduate fa-lg"></i>Listar requisições</a></li>

    <li class="bold" id="cadastroTopicos"><a href="/topicos/cadastro" class="waves-effect"><i class="fas fa-tags fa-lg"></i>Cadastro de tópicos</a></li>
    <li class="bold" id="listarTopicos"><a href="/topicos/listar" class="waves-effect"><i class="fas fa-th-list  fa-lg"></i>Listar tópicos</a></li>

    
</ul>