<!DOCTYPE html>
<html lang="pt-BR">

<% include ../public/fragments/header %>
</head>


<body>


    <% include ../public/fragments/nav %>
    <% include ../public/fragments/sidebar %>



    <main id="content">
        <div class="row section">
            <div class="col s12 ">
                <form method="POST" class="col s10 offset-s1 m6 offset-m3 l6 offset-l3" id="cadastroSecretariosForm" >

                   

                    <div class="row">
                        <div class="input-field">
                            <input id="nome" name="nome" type="text">
                            <label for="nome">Nome do secretário</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field">
                            <input id="email" name="email" type="text">
                            <label for="email">Email do secretário</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field">
                            <input id="login" name="login" type="text" data-length="30" maxlength="30">
                            <label for="login">Login do secretário</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field">
                            <input id="senha" name="senha" type="password">
                            <label for="senha">Senha do secretário</label>
                        </div>
                    </div>

                    <div class="row center-align">
                        <button type="submit" class="btn waves-effect spread-button-primary uk-width-1-2 spread-button-width"
                            id="envioFormulario">Cadastrar secretário</button>
                    </div>

    
                </form>
            </div>
        </div>
    </main>


    <% include ../public/fragments/footer %>
    <% include ../public/fragments/javascripts %>
    <script src="/javascripts/cadastroSecretarios.js"></script>


</body>

</html>