<!DOCTYPE html>
<html lang="pt-BR">

<% include ../public/fragments/header %>
</head>

<body>
    <% include ../public/fragments/nav %>
    <% include ../public/fragments/sidebar %>

    <main id="content">
        <div class="row section">
            <div class="col s12">
 
                <form method="POST" class="col s10 offset-s1 m6 offset-m3 l6 offset-l3" id="noticiasForm" action="/">

                    <div class="row">
                        <div class="input-field">
                            <select name="topico" id="topico">
                                <option value="" disabled selected>Selecione um tópico</option>

                                <% for(var i=0; i<topicos.length; i++) {%>
                                    <tr> 
                                        <option value="<%= topicos[i].nome %>"><%= topicos[i].descricao %></option>
                                    </tr>
                                <% } %>
                                
                            </select>
                            <label>Tópico da notícia</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field">
                            <input id="titulo" name="titulo" type="text" data-length="60" maxlength="60">
                            <label for="titulo">Título da notícia</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field">
                            <textarea id="corpo" name="corpo" class="materialize-textarea" data-length="280" maxlength="280"></textarea>
                            <label for="corpo">Corpo da notícia</label>
                        </div>
                    </div>

                    <div class="row center-align">
                        <button type="submit" class="btn waves-effect spread-button-primary spread-button-width" id="envioFormulario">Enviar notícia</button>
                    </div>

                </form>
            </div>
        </div>
    </main>



    <% include ../public/fragments/footer %>
    <% include ../public/fragments/javascripts %>
    <script src="/javascripts/cadastroNoticias.js"></script>

</body>

</html>