<!DOCTYPE html>
<html lang="pt-BR">

<% include ../public/fragments/header %>
</head>


<body>


    <% include ../public/fragments/nav %>


    <% include ../public/fragments/sidebar %>



    <div id="content">
        <div class="row section">
            <div class="col s12 ">



            </div>
        </div>
    </div>


    <% include ../public/fragments/footer %>
    <% include ../public/fragments/javascripts %>
    <script src="/javascripts/cadastroTopicos.js"></script>


</body>

</html>