<!DOCTYPE html>
<html lang="pt-BR">

<% include ../public/fragments/header %>
</head>


<body>


    <% include ../public/fragments/nav %>
    <% include ../public/fragments/sidebar %>



    <main id="content">
        <div class="row section">
            <div class="col s12 ">
                <form method="POST" class="col s10 offset-s1 m6 offset-m3 l6 offset-l3" id="cadastroTopicosForm" >

                    <div class="row">
                        <p class="obs">*Observação: O nome do tópico não pode ter acentos, caracteres especiais e deve ser formado apenas por letras minúsculas.</p>
                    </div>

                    <div class="row">
                        <div class="input-field">
                            <input id="nome" name="nome" type="text" data-length="30" maxlength="30">
                            <label for="nome">Nome do tópico</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field">
                            <input id="descricao" name="descricao" type="text" data-length="80" maxlength="80">
                            <label for="descricao">Descrição do tópico</label>
                        </div>
                    </div>

                    <div class="row center-align">
                        <button type="submit" class="btn waves-effect spread-button-primary spread-button-width"
                            id="envioFormulario">Cadastrar tópico</button>
                    </div>


                </form>
            </div>
        </div>
    </main>


    <% include ../public/fragments/footer %>
    <% include ../public/fragments/javascripts %>
    <script src="/javascripts/cadastroTopicos.js"></script>


</body>

</html>