<!DOCTYPE html>
<html lang="pt-BR">

<% include ../public/fragments/dependencias/dependenciasCSS %>
<% include ../public/fragments/header %>

</head>

<body>
    <% include ../public/fragments/nav %>
    <% include ../public/fragments/sidebar %>

    <main id="content">
        <div class="row section">
            <div class="col s10 offset-s1">


                <table id="materialize-table" class="striped highlight" data-order="[[ 3, &quot;asc&quot; ]]">
                    <thead>

                        <tr>
                            <th>Tópico</th>
                            <th>Título</th>
                            <th>Corpo</th>
                            <th>Data de postagem</th>
                        </tr>

                    </thead>

                    <tbody>
                        <% for(var i=0; i<noticias.length; i++) {%>
                        <tr> 
                            <td><%= noticias[i].topico %></td>
                            <td><%= noticias[i].titulo %></td>
                            <td><%= noticias[i].corpo %></td>
                            <td class="timestamp"><%= noticias[i].timestamp %></td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>


            </div>
        </div>
    </main>


    <% include ../public/fragments/footer %>
    <% include ../public/fragments/javascripts %>
    <% include ../public/fragments/dependencias/dependenciasJS %>
    <script src="/javascripts/listarNoticias.js"></script>

</body>

</html>