<!DOCTYPE html>
<html lang="pt-BR">

<% include ../public/fragments/header %>
<link rel='stylesheet' href='/stylesheets/login.css' />
</head>


<body>


    <% include ../public/fragments/nav %>

 

    <main id="content">
        <div class="row section">
            <div class="col s12 ">
                <form method="POST" class="col s10 offset-s1 m6 offset-m3 l4 offset-l4" id="secretarioForm">

                
                    <%if (typeof(error) !== "undefined") { %>
                        <div><%= error %></div>
                    <% } %>

                    <div class="row">
                        <div class="input-field">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="login" name="login" type="text" class="validate">
                            <label for="login">Login</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field">
                            <i class="material-icons prefix">lock</i>
                            <input id="senha" name="senha" type="password" class="validate">
                            <label for="senha">Senha</label>
                        </div>
                    </div>

                    <div class="row">
                        <a class="left spread-link-login" href="">Cadastre-se</a>
                        <a class="right spread-link-login" href="">Esqueceu sua senha?</a>
                    </div>

                    <div class="row center-align">
                        <button type="submit" class="btn waves-effect spread-button-primary uk-width-1-2 spread-button-width">Entrar</button>
                    </div>

                </form>
            </div>
        </main>



        <% include ../public/fragments/footer %>
        <% include ../public/fragments/javascripts %>
        <script src="/javascripts/login.js"></script>

</body>

</html>