<!DOCTYPE html>
<html lang="pt-BR">

<% include ../public/fragments/header %>
<link rel='stylesheet' href='/stylesheets/login.css' />
</head>


<body>


    <% include ../public/fragments/nav %>

    <!--
    <% include ../public/fragments/sidebar %>
    -->


    <div id="content">
        <div class="row section">
            <div class="col s12 ">
                <form method="POST" class="col s4 offset-s4" id="userForm">

                    <div class="row">
                        <div class="input-field">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="login" name="login" type="text" class="validate">
                            <label for="username">Usuário</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field">
                            <i class="material-icons prefix">lock</i>
                            <input id="senha" name="senha" type="password" class="validate">
                            <label for="password">Senha</label>
                        </div>
                    </div>

                    <div class="row">
                        <a class="left spread-link-login" href="">Cadastre-se</a>
                        <a class="right spread-link-login" href="">Esqueceu sua senha?</a>
                    </div>

                    <div class="row center-align">
                        <a class="btn waves-effect spread-button-primary uk-width-1-2 spread-button-width">Entrar</a>
                    </div>



                </form>
            </div>
        </div>



        <% include ../public/fragments/footer %>
        <% include ../public/fragments/javascripts %>
        <script src="/javascripts/login.js"></script>

</body>

</html>