/*
PALETA DE CORES

#25ced1
#ffffff
#fde9dd
#ff8b5c 
#eb5270

*/

.sim, .nao{
    background-color: #eb5270 !important;
}


table.highlight tbody tr:hover {
    background-color: #dd889a !important;
}

.mdl-button--raised.mdl-button--colored{
    background-color: #FF8B5C;
}

.mdl-button--raised.mdl-button--colored:hover, .mdl-button--raised.mdl-button--colored:active, .mdl-button--raised.mdl-button--colored:focus, .mdl-button--raised.mdl-button--colored:visited {
    background-color: #e97040;
}

.mdl-button--raised.mdl-button--colored:focus:not(:active){
    background-color: #e97040;
}

ul#listaAcessibilidade li a{
    color: #f1f1f1;
}


ul#listaAcessibilidade li{
    background-color: #000000;
}

ul#listaAcessibilidade li:hover{
    background-color: #eb5270;
}

.sidenav li > a {
    color: #000000;
}

 .sidenav li.active {
     background-color: #f1f1f1;
 }

 .sidenav li > a:hover {
    background-color: #f7f5f5;
 }

.spread-button-primary{
    background-color: #FF8B5C;
    color: #EFEFEF;
    border: 1px solid #FF8B5C;
}

.spread-button-primary:hover, .spread-button-primary:active, .spread-button-primary:focus{
    background-color: #e97040;
    color: #EFEFEF;
    border: 1px solid #e97040;
}

a{
    color:#eb5270;
}

.toastSucesso{
    background-color: #4f8652 ;
    color:#EFEFEF;
}

.toastFalha{
    background-color:#EF5350;
    color:#EFEFEF;
}


.sidenav li > a > i, .sidenav li > a > [class^="mdi-"], .sidenav li > a li > a > [class*="mdi-"], .sidenav li > a > i.material-icons {
    color:#EB5270;
}

.page-footer{
  /*  background-color:#FF8B5C; */
}

.obs{
    color: #535353;
}





