/*
PALETA DE CORES

#25ced1
#ffffff
#fde9dd
#ff8b5c
#eb5270

*/

/*
a:active, a:focus, a:hover {  
    border: 1px solid #000;  
}
*/

.spread-button-primary{
    background-color: #25ced1;
    color: #EFEFEF;
    border: 1px solid #25ced1;
}

.spread-button-primary:hover, .spread-button-primary:active, .spread-button-primary:focus{
    background-color: #50e0e2;
    color: #EFEFEF;
    border: 1px solid #50e0e2;
}


a{
    color:#eb5270;
}







