/*
PALETA DE CORES

#25ced1
#ffffff
#fde9dd
#ff8b5c
#eb5270

*/

ul#listaAcessibilidade li a, .sidenav li > a {
    color: #000000;
}

 .sidenav li.active {
     background-color: #f1f1f1;
 }

 .sidenav li > a:hover {
    background-color: #f7f5f5;
 }

.spread-button-primary{
    background-color: #FF8B5C;
    color: #EFEFEF;
    border: 1px solid #FF8B5C;
}

.spread-button-primary:hover, .spread-button-primary:active, .spread-button-primary:focus{
    background-color: #e97040;
    color: #EFEFEF;
    border: 1px solid #e97040;
}

a{
    color:#eb5270;
}

.toastSucesso{
    background-color: #66bb6a ;
    color:#EFEFEF;
}

.toastFalha{
    background-color:#EF5350;
    color:#EFEFEF;
}


.sidenav li > a > i, .sidenav li > a > [class^="mdi-"], .sidenav li > a li > a > [class*="mdi-"], .sidenav li > a > i.material-icons {
    color:#EB5270;
}

.page-footer{
  /*  background-color:#FF8B5C; */
}

.obs{
    color: #535353;
}





