
header, main, footer {
    padding-left: 300px;
}


ul.sidenav.sidenav-fixed li.logo {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 100px;
}


.sidenav li.logo > a:hover{
    background-color: transparent;
    cursor: pointer;
}

#front-page-logo {
    display: inline-block;
    height: 100px;
    width:auto;
    pointer-events: none;
}

nav{
    background-image: url("../images/background.png");
    background-size:     cover;                  
    background-repeat:   no-repeat;
    background-position: center center;   
    opacity: 0.5;
    padding-left: 300px;
}

nav {
    height: 180px;
    line-height: 40px;
}



@media only screen and (max-width: 768px) {
    nav{
        padding-left: 0px;
        height: 64px;
        line-height: 64px;
    }
}


@media only screen and (max-width: 992px) {
    nav{
        padding-left: 0px;
        height: 64px;
        line-height: 64px;
    }

    header, main, footer {
        padding-left: 0;
    }
} 