* {
  font-family: 'Montserrat', sans-serif;
}

/* LOGIN */

.spread-link-login{
  text-decoration: underline;
}

#content{
  padding-left: 300px;
}

.spread-button-width{
  width:250px;
}

.sidenav li > a > i, .sidenav li > a > [class^="mdi-"], .sidenav li > a li > a > [class*="mdi-"], .sidenav li > a > i.material-icons {
  margin: 0 20px 0 0;
}

.section{
  padding-top: 3rem;
}

.obs{
    font-size: 12px;
}

@media only screen and (max-width: 768px) {
  #content{
      padding-left: 0px;
  }
}


@media only screen and (max-width: 992px) {
  #content{
      padding-left: 0px;
  }
} 
